body{
  margin:0;
  padding:20px;
  text-align:center;

  background:
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    #1f4d2e;

  font-family:sans-serif;
  color:white;
}

h1{
  margin-top:10px;
  font-size:32px;
}

h2{
  margin-top:30px;
}

#description{
  margin:20px auto;
  max-width:400px;
  line-height:1.7;
}

.buttons{
  margin-bottom:20px;
}

button{
  margin:5px;
  padding:10px 15px;

  border:none;
  border-radius:10px;

  font-size:18px;

  background:white;
  color:#1f4d2e;

  font-weight:bold;
}

.hidden{
  display:none;
}

#board{
  display:grid;

  gap:1px;

  justify-content:center;

  margin:20px auto;
}

.cell{
  width:30px;
  height:30px;

  font-size:19px;
  font-weight:bold;

  text-align:center;

  background:white;
  color:black;

  border:1px solid #999;

  outline:none;
}

.black{
  background:#222;
}

.correct{
  color:black;
}

.wrong{
  color:red;
}

#clues{
  background:rgba(255,255,255,0.12);

  padding:15px;

  border-radius:15px;

  max-width:450px;

  margin:20px auto;

  text-align:left;

  line-height:1.8;
}

#status{
  margin-top:20px;
}

.clear-box{
  background:white;

  color:black;

  width:240px;

  margin:20px auto;

  padding:20px;

  border-radius:20px;

  animation:pop 0.4s ease;
}

.clear-box h2{
  color:#ff9800;
}

@keyframes pop{

  from{
    transform:scale(0.7);
    opacity:0;
  }

  to{
    transform:scale(1);
    opacity:1;
  }

}
